{% extends 'core/base.html' %}
{% load static %}

  {% block title %} Creative - Bootstrap Admin Template {% endblock title %}
  
  
  <!-- Custom styles -->
  

  {% block jquery-datatable-css %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
  {% endblock jquery-datatable-css %}

  {% block body-content %}
  {% endblock body-content %}

  <!-- javascripts -->
  {% block javascript %}
  <script src="{% static 'js/jquery-ui-1.10.4.min.js' %}"></script>
  <script src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery-ui-1.9.2.custom.min.js' %}">
  </script>
  {% endblock javascript %}
