{% extends 'core/base.html' %}
{% load static %}


{% block body-content %}
 <div class="container txt-center">
  <center>
  <form method="POST" id="personForm" 
     style="margin-left:300px;margin-top: 150px; background-color: white; padding: 55px"
     data-names-url="{% url 'ajax_load_names' %}"  novalidate>
	   {% csrf_token %}
    <h3><b>User Heirarchy </b></h3>
    
	    <!-- <ul class="errorlist"><li>This field is required.</li></ul> -->
    <div class="row form-group">
      <div class="col-md-4 col-bg-4 col-sm-4 col-lg-4">
      <label for="id_usernm">Parent:</label>
      </div>
      <div class="col-md-8 col-bg-8 col-sm-8 col-lg-8">
        <select name="usernm" required id="id_usernm" class="form-control form-control-sm">
          
          <optgroup label="Director">
          {% for member in DIR %}
            <option value="{{ member.id }}" class="dropdown-item" selected>
              {{ member.first_name }} 
            {{ member.last_name }}</option>
          {% endfor %}
          </optgroup>

          <optgroup label="Cheif Technical Officer">
          {% for member in CTO %}
            <option value="{{ member.id }}" class="dropdown-item"
            selected>{{ member.first_name }} 
            {{ member.last_name }}</option>
          {% endfor %}
          </optgroup>
          
          <optgroup label="Project Manager">
          {% for member in PM %}
            <option value="{{ member.id }}" selected class="dropdown-item">
              {{ member.first_name }} 
            {{ member.last_name }}</option>
          {% endfor %}
          </optgroup>

          <optgroup label="Tech Leader">
          {% for member in TL %}
            <option value="{{ member.id }}" class="dropdown-item" selected>
              {{ member.first_name }} 
            {{ member.last_name }}</option>
          {% endfor %}
          </optgroup>

          <optgroup label="Web Developer">
          {% for member in Web %}
            <option value="{{ member.id }}" class="dropdown-item" selected>
              {{ member.first_name }} 
            {{ member.last_name }}</option>
          {% endfor %}
          <option value=" " selected>-----------</option>
          </optgroup>
        </select>
        </div>
    </div> 
    <div class="row">
      <div class="col-md-4 col-bg-4 col-sm-4 col-lg-4">
      <label for="id_child">Child:</label> 
      </div>
      <div class="col-md-4 col-bg-4 col-sm-4 col-lg-4">
      <select name="child[]"  required id="id_child" class="form-control" multiple>
      </select>
      </div>
    </div><br>
      
  
    <input type="Submit" class="btn allbtn" 
      style="" value="Send"
      name="" value="Save">
    </form>
      </center>
    </div>
   </div>
{% endblock body-content %}

{% block general-js %}
 <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
 <script>
 	$('#id_usernm').change(function() {
 		const url = $('#personForm').attr("data-names-url");
 		const usernmId = $(this).val();

 		 $.ajax({
 		 	url: url,
 		 	data: {
 		 		'usernmId': usernmId
 		 	},
 		 	success: function (data){
        var j;
        var pm = [];
        var web = [];
        var tl = [];
        var cto = [];
        for (j = 0; j < data.length; j++) {
            if (data[j]["designation"] == "Project Manager") {
                pm.push(data[j]);
            } else if (data[j]["designation"] == "Tech Leader") {
                tl.push(data[j]);
            }else if (data[j]["designation"] == "Cheif Technical Officer"){
                cto.push(data[j]);
            } else {
                web.push(data[j]);
            }
        } 

        html="<optgroup label=Cheif Technical Officer>";
        for(j = 0; j < cto.length; j++) {
          html+="<option value="+cto[j]["id"]+" name=option-value>"+cto[j]
                ["first_name"]+ cto[j]["last_name"]+"</option></optgroup>"
        }
        html+="<optgroup label=Project Manager>";
        for(j = 0; j < pm.length; j++) {
          html+="<option value="+pm[j]["id"]+" name=option-value>"+pm[j]
                ["first_name"]+ pm[j]["last_name"]+"</option></optgroup>"
        }
        html+="<optgroup label=Tech Leader>";
        for(j = 0; j < tl.length; j++) {
          html+="<option value="+tl[j]["id"]+" name=option-value>"+tl[j]
                ["first_name"]+ tl[j]["last_name"]+"</option></optgroup>"
        }
        html+="<optgroup label=Web Developer>";
        for(j = 0; j < web.length; j++) {
          html+="<option value="+web[j]["id"]+" name=option-value>"+web[j]
                ["first_name"]+ web[j]["last_name"]+"</option></optgroup>"
        }
        
 		 		$('#id_child').html(html);
 		 	}
 		 });
 	});

  
 </script>
 
{% endblock general-js %}
<!-- <label>Username : </label> -->
  <!-- <select  id="user" name="user">
      {% for cat in category %}
      <option value="{{ cat }}" name="user">{{ cat.username }}</option>
      {% endfor %}
      
    </select><br> -->