{% extends 'core/base.html' %}
{% load static %}

  {% block title %} Creative - Bootstrap Admin Template {% endblock title %}
  
  
  <!-- Custom styles -->
  
{% block body-content %}
<div class="container">
	<center>
	<form method="POST" class="leave-form" style="" >
		{% csrf_token %}
		<h2><b>Leave Form</b></h2><br>
		<div class="row form-group">
			<div class="col-md-4 col-bg-4 col-sm-4 col-lg-4">
				<label for="fcalender">Starting Date : </label>
			</div>
			<div class="col-md-8 col-bg-8 col-sm-8 col-lg-8">
				<input type="date" name="calen1" id="fcalender" class="form-control" required>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-md-4 col-bg-4 col-sm-4 col-lg-4">
				<label for="fcalender">End Date : </label>
			</div>
			<div class="col-md-8 col-bg-8 col-sm-8 col-lg-8">
				<input type="date" name="calen2" id="lcalender" class="form-control" required>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-md-4 col-bg-4 col-sm-4 col-lg-4">
				<label for="hr">Send request to HR : </label>
			</div>
			<div class="col-md-8 col-bg-8 col-sm-8 col-lg-8">
				<select name="hr" required id="id_usernm" class="form-control" required="required">
		          
		          <optgroup label="Director">
		          {% for member in DIR %}
		            <option value="{{ member.email }}" class="dropdown-item" selected>
		              {{ member.first_name }} 
		            {{ member.last_name }}</option>
		          {% endfor %}
		          </optgroup>

		          <optgroup label="Cheif Technical Officer">
		          {% for member in CTO %}
		            <option value="{{ member.email }}" class="dropdown-item"
		            selected>{{ member.first_name }} 
		            {{ member.last_name }}</option>
		          {% endfor %}
		          <option value=" " selected>-----------</option>
		          </optgroup>
		        </select>
		    </div>
		</div>

		<div class="row form-group">
			<div class="col-md-4 col-bg-4 col-sm-4 col-lg-4">
				<label for="tl">Send request to Tech Lead : </label>
			</div>
			<div class="col-md-8 col-bg-8 col-sm-8 col-lg-8">
				<select name="tl" required id="id_usernm" class="form-control" required="required">
			
					{% if request.user.designation == "Web Developer" %}
          			<optgroup label="Tech Leader">
          			{% for member in TL %}
            			<option value="{{ member.email }}" class="dropdown-item" selected>
              			{{ member.first_name }} 
            			{{ member.last_name }}</option>
          			{% endfor %}
          			<option value=" " selected>-----------</option>
          			</optgroup>
        			{% elif request.user.designation == "Tech Leader" %}
        				<optgroup label="Project Manager">
              			{% for member in PM %}
            			<option value="{{ member.email }}" class="dropdown-item" selected>
              			{{ member.first_name }} 
            			{{ member.last_name }}</option>
             			{% endfor %}
          			<option value=" " selected>-----------</option>
          			</optgroup>
        			{% elif request.user.designation == "Project Manager" %}
        				<optgroup label="Cheif Technical Officer">
              			{% for member in CTO %}
            			<option value="{{ member.email }}" class="dropdown-item" selected>
              				{{ member.first_name }} 
            				{{ member.last_name }}</option>
             			{% endfor %}
          			<option value=" " selected>-----------</option>
          			</optgroup>
        			{% else %}
        			{% endif %}
        		</select>
			</div>
		</div>

		<div class="row form-group">
			<div class="col-md-4 col-bg-4 col-sm-4 col-lg-4">
				<label for="reason">Why you want to take leave ?</label>
			</div>
			<div class="col-md-8 col-bg-8 col-sm-8 col-lg-8">
				<textarea id="reass" name="reason" rows="7" cols="70" class="form-control" 
				required="required">
				</textarea>
			</div>
		</div>
		
		<input type="Submit" name=""  class = "btn allbtn" value="Send Request" style="">
		
	</form>
	</center>
</div>
{% endblock body-content %}

<!-- javascripts -->
{% block javascript %}
<script src="{% static 'js/jquery-ui-1.10.4.min.js' %}"></script>
<script src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui-1.9.2.custom.min.js' %}">
</script>
{% endblock javascript %}