{% extends 'attendance/base.html' %}
{% load static %}

  {% block title %} Creative - Bootstrap Admin Template {% endblock title %}
  
  
  <!-- Custom styles -->
  
{% block body-content %}
<div class="container">
	<form method="POST" style="margin-left:250px; margin-top: 150px" novalidate>
		{% csrf_token %}
		<h2>Leave Form</h2>
		<p>{{ username }}</p>
		<!-- <p>
		<label for="fname">Name:   </label>
		<input type="text" size="50" name="name" value="">
		</p> -->
		<p>
		<label for="fcalender">Starting Date : </label>
		<input type="date" name="calen1" id="fcalender">
		
		<label for="fcalender">End Date : </label>
		<input type="date" name="calen2" id="lcalender">
		</p>
		<p>
			<label for="hr">Send request to HR : </label>
				<select name="hr" required id="id_usernm">
		          
		          <optgroup label="Director">
		          {% for member in DIR %}
		            <option value="{{ member.email }}" class="dropdown-item" selected>
		              {{ member.first_name }} 
		            {{ member.last_name }}</option>
		          {% endfor %}
		          </optgroup>

		          <optgroup label="Cheif Technical Officer">
		          {% for member in CTO %}
		            <option value="{{ member.email }}" class="dropdown-item"
		            selected>{{ member.first_name }} 
		            {{ member.last_name }}</option>
		          {% endfor %}
		          <option value=" " selected>-----------</option>
		          </optgroup>
		        </select>
		</p>
		<p>
			<label for="tl">Send request to Tech Lead : </label>
		<select name="tl" required id="id_usernm">

          <optgroup label="Tech Leader">
          {% for member in TL %}
            <option value="{{ member.email }}" class="dropdown-item" selected>
              {{ member.first_name }} 
            {{ member.last_name }}</option>
          {% endfor %}
          <option value=" " selected>-----------</option>
          </optgroup>
        </select>
		</p>
		<p>
			<label for="reason">Why you want to take leave ?</label>
			<textarea id="reass" name="reason" rows="7" cols="70">
			</textarea>
		</p>
		<p>
			<input type="Submit" name=""  class = "btn btn-lg btn-primary" 
			value="Send Request">
		</p>
	</form>
</div>
{% endblock body-content %}

<!-- javascripts -->
  {% block javascript %}
  <script src="{% static 'js/jquery-ui-1.10.4.min.js' %}"></script>
  <script src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery-ui-1.9.2.custom.min.js' %}">
  </script>
  {% endblock javascript %}