{% extends 'core/base.html' %}
{% load static %}
{% load notifications_tags %}

  {% block title %} Creative - Bootstrap Admin Template {% endblock title %}



{% block body-content %}

 <div class="container txt-center">
   <div style="margin-left:250px; margin-top: 150px">
  	<p>
  		{% live_notify_badge %} Notificaitons unreaded
  	</p>
  	<h2>Notifications list</h2>
  	{% for ele in data %}
  	<div style="background-color: white">
      {% if request.user.designation == "Project Manager" %}
          {% if "Response" in ele.verb %}
            <h4 class="nothead">Notification by {{ ele.actor }}  at  {{ ele.timestamp }}</h4>
            <h5 class = "desclass">{{ ele.description }}</h5>
            <button class="btn notibtn" style=""
            onclick="location.href='{% url 'make-read' ele.id ele.recipient_id %}'">
            OK</button>
          {% elif "Holiday" in ele.verb %}
            <h4>Notification by {{ ele.actor }}  at  {{ ele.timestamp }}</h4>
            <h5 class = "desclass">{{ ele.description }}</h5>
            <button class="btn notibtn" style=""
            onclick="location.href='{% url 'make-read' ele.id ele.recipient_id %}'">
            OK</button>
          {% else %}
            <h4><a href="{% url 'tl-leave'  ele.id ele.recipient_id %}">
              Notification by {{ ele.actor }}  at  {{ ele.timestamp }}</a></h4>
          {% endif %}
      {% elif request.user.designation == "Cheif Technical Officer" %}
          {% if "Response" in ele.verb %}
           <h4>Notification by {{ ele.actor }}  at  {{ ele.timestamp }}</h4>
           <h5 class = "desclass">{{ ele.description }}</h5>
           <button class="btn notibtn" style=""
           onclick="location.href='{% url 'make-read' ele.id ele.recipient_id %}'">
           OK</button>
          {% elif "Holiday" in ele.verb %}
          <h4>Notification by {{ ele.actor }}  at  {{ ele.timestamp }}</h4>
           <h5 class = "desclass">{{ ele.description }}</h5>
           <button class="btn notibtn" style=""
           onclick="location.href='{% url 'make-read' ele.id ele.recipient_id %}'">
           OK</button>
          {% else %}
           <h4><a href="{% url 'hr-leave'  ele.id ele.recipient_id %}">
            Notification by {{ ele.actor }}  at  {{ ele.timestamp }}</a></h4>
          {% endif %}
      {% elif request.user.designation == "Director" %}
          {% if "Response" in ele.verb %}
           <h4 class="nothead">Notification by {{ ele.actor }}  at  {{ ele.timestamp }}</h4>
           <h5 class = "desclass">{{ ele.description }}</h5>
           <button class="btn notibtn" style=""
            onclick="location.href='{% url 'make-read' ele.id ele.recipient_id %}'">
            OK</button>
          {% elif "Holiday" in ele.verb %}
          <h4 class="nothead">Notification by {{ ele.actor }}  at  {{ ele.timestamp }}</h4>
           <h5 class = "desclass">{{ ele.description }}</h5>
          <button class="btn notibtn" style=""
            onclick="location.href='{% url 'make-read' ele.id ele.recipient_id %}'">
            OK</button>
          {% else %}
           <h4><a href="{% url 'tl-leave'  ele.id ele.recipient_id %}">
            Notification by {{ ele.actor }}  at  {{ ele.timestamp }}</a></h4>
          {% endif %}
      {% elif request.user.designation == "Tech Leader" %}
         {% if "Response" in ele.verb %}
           <h4>Notification by {{ ele.actor }}  at  {{ ele.timestamp }}</h4>
           <h5 class = "desclass">{{ ele.description }}</h5>
           <button class="btn notibtn" style=""
           onclick="location.href='{% url 'make-read' ele.id ele.recipient_id %}'">
           OK</button>
          {% elif "Holiday" in ele.verb %}
            <h4>Notification by {{ ele.actor }}  at  {{ ele.timestamp }}</h4>
            <h5 class = "desclass">{{ ele.description }}</h5>
            <button class="btn notibtn" style=""
            onclick="location.href='{% url 'make-read' ele.id ele.recipient_id %}'">
            OK</button>
         {% else %}
           <h4><a href="{% url 'tl-leave'  ele.id ele.recipient_id %}">
           Notification by {{ ele.actor }}  at  {{ ele.timestamp }}</a></h4>
         {% endif %}
      
      {% elif request.user.designation == "Web Developer" %}
          {% if "Response" in ele.verb %}
           <h4>Notification by {{ ele.actor }}  at  {{ ele.timestamp }}</h4>
           <h5 class = "desclass">{{ ele.description }}</h5>
           <button class="btn notibtn" style=""
           onclick="location.href='{% url 'make-read' ele.id ele.recipient_id %}'">
           OK</button>
          {% elif "Holiday" in ele.verb %}
            <h4>Notification by {{ ele.actor }}  at  {{ ele.timestamp }}</h4>
            <h5>{{ ele.description }}</h5>
            <button class="btn notibtn" style=""
            onclick="location.href='{% url 'make-read' ele.id ele.recipient_id %}'">
            OK</button>
          {% else %}
          {% endif %}
      {% else %}
         <h4>Notification by {{ ele.actor }}  at  {{ ele.timestamp }}</h4>
           <h5>{{ ele.description }}</h5>
      {% endif %}
          
      
    </div>
    {% endfor %}
   </div>
  </div>
{% endblock body-content %}

{% block javascript %}
  <script src="{% static 'js/jquery-ui-1.10.4.min.js' %}"></script>
  <script src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery-ui-1.9.2.custom.min.js' %}">
  </script>
{% endblock javascript %}



  

 


 
