{% extends 'attendance/base.html' %}
{% load static %}
{% load notifications_tags %}

  {% block title %} Creative - Bootstrap Admin Template {% endblock title %}



{% block body-content %}

 <div class="container txt-center">
   <div style="margin-left:250px; margin-top: 150px">
  	<p>
  		{% live_notify_badge %} Notificaitons unreaded
  	</p>
  	<h2>Notifications list</h2>
  	{% for ele in data %}
  	<div style="background-color: white">
      {% if request.user.designation == "Project Manager" %}
      <h4><a href="{% url 'tl-leave'  ele.id ele.recipient_id %}">{{ ele.id }}. Request for Leave</a></h4>
         
      {% elif request.user.designation == "Cheif Technical Officer" %}
      <h4><a href="{% url 'hr-leave'  ele.id ele.recipient_id %}">{{ ele.id }}. Request for Leave</a></h4>

      {% elif request.user.designation == "Tech Leader" %}
          <h4>{{ ele.id }}. Request for Leave</h4> 
         <p>{{ ele.description }}</p>
         <button type="submit" value="{{ ele.actor }}"  name='mybtn2' class="btn btn-primary"
         onclick="location.href='{% url 'tl-approve' ele.actor ele.verb ele.action_object  %}'">
          Approve</button>
         <button type="submit" value="{{ ele.actor }}" name='mybtn3' class="btn btn-primary"
         onclick="location.href='{% url 'tl-not-approve' ele.actor ele.verb ele.action_object %}'">
          Not Approve</button>
          
      {% elif request.user.designation == "Cheif Technical Officer" and ele.verb == "not approve" %}
         <h4>{{ ele.id }}. Request for Leave</h4> 
         <p>{{ ele.description }}</p>
      {% else %}
      {% endif %}
      
    </div>
    {% endfor %}
   </div>
  </div>
{% endblock body-content %}

{% block javascript %}
  <script src="{% static 'js/jquery-ui-1.10.4.min.js' %}"></script>
  <script src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery-ui-1.9.2.custom.min.js' %}">
  </script>
{% endblock javascript %}



  

 


 
