{% extends 'core/base.html' %}
{% load static %}

  {% block title %} Creative - Bootstrap Admin Template {% endblock title %}

{% block body-content %}
<div class="container txt-center">
 	<div  class="formcontainer" style="">
  <center>
 	<form method="POST" class="allforms" id="personForm">
	   {% csrf_token %}
	   <h2><b> Create Channel </b></h2>
     <p>Admin: {{ request.user.first_name }} {{ request.user.last_name }}</p>
     <br>
	  <div class = "row from-group">
      <div class="col-md-4 col-bg-4 col-sm-4 col-lg-4">
        <label for="id_usernm">Choose Member:</label>
      </div>
      <div class="col-md-8 col-bg-8 col-sm-8 col-lg-8">
          <select name="members" required id="id_usernm" class="form-control" required>
          <optgroup label="Director">
          {% for member in DIR %}
            <option value="{{ member.id }}" class="dropdown-item" selected>
              {{ member.first_name }} 
            {{ member.last_name }}</option>
          {% endfor %}
          </optgroup>

          <optgroup label="Cheif Technical Officer">
          {% for member in CTO %}
            <option value="{{ member.id }}" class="dropdown-item"
            selected>{{ member.first_name }} 
            {{ member.last_name }}</option>
          {% endfor %}
          </optgroup>
          
          <optgroup label="Project Manager">
          {% for member in PM %}
            <option value="{{ member.id }}" selected class="dropdown-item">
              {{ member.first_name }} 
            {{ member.last_name }}</option>
          {% endfor %}
          </optgroup>

          <optgroup label="Tech Leader">
          {% for member in TL %}
            <option value="{{ member.id }}" class="dropdown-item" selected>
              {{ member.first_name }} 
            {{ member.last_name }}</option>
          {% endfor %}
          </optgroup>

          <optgroup label="Web Developer">
          {% for member in Web %}
            <option value="{{ member.id }}" class="dropdown-item" selected>
              {{ member.first_name }} 
            {{ member.last_name }}</option>
          {% endfor %}
          <option value=" " selected>-----------</option>
          </optgroup>
        </select>
      </div>
    </div><br>
    
    <input type="Submit" class="btn allbtn" name="" value="Create" style="">
      
	</form>
  </center>
 	</div>
</div>
{% endblock body-content %}
