{% extends 'core/base.html' %}
{% load static %}

  {% block title %} Creative - Bootstrap Admin Template {% endblock title %}

{% block body-content %}
<div class="container txt-center">
 	<div style="margin-left:300px; margin-top: 150px">
 		<div class="channelshow" style="background-color: white">
 	<form method="POST" id="personForm"  novalidate>
	   {% csrf_token %}
	   <h2>Create Channel</h2>
     <p id="usernmid">Admin: {{ request.user.first_name }} {{ request.user.last_name }}</p>
	  <p>
      <label for="id_usernm">Choose Member:</label>
        <select name="members" required id="id_usernm">
          <optgroup label="Director">
          {% for member in DIR %}
            <option value="{{ member.id }}" class="dropdown-item" selected>
              {{ member.first_name }} 
            {{ member.last_name }}</option>
          {% endfor %}
          </optgroup>

          <optgroup label="Cheif Technical Officer">
          {% for member in CTO %}
            <option value="{{ member.id }}" class="dropdown-item"
            selected>{{ member.first_name }} 
            {{ member.last_name }}</option>
          {% endfor %}
          </optgroup>
          
          <optgroup label="Project Manager">
          {% for member in PM %}
            <option value="{{ member.id }}" selected class="dropdown-item">
              {{ member.first_name }} 
            {{ member.last_name }}</option>
          {% endfor %}
          </optgroup>

          <optgroup label="Tech Leader">
          {% for member in TL %}
            <option value="{{ member.id }}" class="dropdown-item" selected>
              {{ member.first_name }} 
            {{ member.last_name }}</option>
          {% endfor %}
          </optgroup>

          <optgroup label="Web Developer">
          {% for member in Web %}
            <option value="{{ member.id }}" class="dropdown-item" selected>
              {{ member.first_name }} 
            {{ member.last_name }}</option>
          {% endfor %}
          <option value=" " selected>-----------</option>
          </optgroup>
        </select>
    </p>
    
    <input type="Submit" class="btn btn-lg btn-primary" name="" value="Create"
    style="margin-left: 100px">
	</form>
	</div>
 	</div>
</div>
{% endblock body-content %}

{% block general-js %}
{% endblock general-js %}